@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #343434;
}

p {
  text-align: center;
  text-align: justify;
}

/* comienzo del nav */
.navbar {
  background: #000;
  font-size: 1.2rem;
}

.navbar-brand {
  color: #c600eb !important;
  font-size: 1.4rem;
}

.navbar-brand span {
  color: #ff1439;
}

.nav-item .nav-link {
  color: #39ff14 !important;
  transition: all 0.5s ease;
  padding: 1.5rem;
}

.nav-item .nav-link:hover {
  transform: scale(1.2);
  text-shadow: 0 0 25px #39ff14;
}

.navbar-collapse {
  justify-content: space-between !important;
}

.heroIndex {
  background-image: url(../img/hero1.jpg);
  width: 100%;
  height: 130vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.heroIndex h1 {
  font-size: 4.5rem;
  padding: 0 1.2rem;
  color: #fff;
}

.heroIndex p {
  padding: 0 1.2rem;
  text-align: center;
}

.mainIndex {
  color: #fff;
}

.mainIndex h2 {
  padding: 1.5rem 1.2rem;
}

.coleccion {
  background-image: url(../img/productos.jpg);
  height: 80vh;
  background-position: center center;
}

.comprometidos {
  background-image: url(../img/calidad.jpg);
  height: 80vh;
  background-position: center center;
}

.atencion {
  background-image: url(../img/atencion2.jpg);
  height: 80vh;
  background-position: center top;
}

.heroIndex a,
.atencion a,
.comprometidos a,
.coleccion a {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  position: relative;
  bottom: -55vh;
  transition: all 0.5s ease;
}

.heroIndex a:hover,
.atencion a:hover,
.comprometidos a:hover,
.coleccion a:hover {
  font-size: 1.8rem;
  color: #1439ff;
}

.ribbon {
  position: relative;
  width: 100%;
  height: 12.5rem;
  background-color: #343434;
}

/* PRODUCTOS */
.mainProducto {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  mix-blend-mode: screen;
  font-size: 1.8rem;
  padding: 3rem 0;
}

.productos a {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.productos a:hover {
  font-size: 1.8rem;
  color: #1439ff;
}

.productos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.productos p {
  color: #fff;
}

/* Destacados */
.destacados {
  width: 100%;
}

.destacados h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  mix-blend-mode: screen;
  font-size: 1.8rem;
  padding: 3rem 0;
}

.destacado {
  display: flex;
  color: #fff;
}

.destacado div span,
.destacado div a {
  display: block;
}

.destacado h2 {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.destacado span {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.destacado a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 165px;
  transition: all 0.5s ease;
}

.destacado a:hover {
  font-size: 1.8rem;
  color: #1439ff;
}

.destacado img {
  max-height: 100vh;
  max-width: 100%;
}

/* Acerca De */
.nosotros {
  width: 80%;
  margin: 0 auto;
  color: #fff;
}

.acerca {
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.acerca h1 {
  padding-bottom: 1.2rem;
}

.acerca img {
  margin-top: 1.2rem;
}

.nosotros img {
  width: 30%;
}

.valores,
.historia {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* CONTACTO */
.mainContacto {
  width: 40%;
  margin: 0 auto;
  color: #fff;
}

.mainContacto {
  background-image: url(../img/sitio.jpg);
  background-size: cover;
  background-position: center center;
}

label,
.enviar {
  margin: 10px 0;
}

input {
  display: block;
}

/* Footer */
footer {
  background-image: url(../img/footer.jpg);
  height: 80vh;
  background-position: center center;
}

.redes {
  margin: 0 auto;
  width: 20%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.redes a {
  text-decoration: none;
}

.redes i {
  color: #ff1439;
  font-size: 5rem;
  padding: 0.25rem;
  transition: all 0.5s ease-in-out;
}

.redes i:hover {
  text-shadow: 0 0 20px #ff1439;
  font-size: 6rem;
}

.copy {
  text-align: center;
  color: #fff;
  position: relative;
  bottom: -65vh;
}/*# sourceMappingURL=style.css.map */